@font-face {
	font-family: "Roboto-Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}

body {
	padding: 0;
	-moz-user-select: none;
	cursor: default;
}

#header {
	height: 52px;
	color: white;
	background-color: #389fe0;
	overflow: hidden;
}

#header > div {
	font-size: 14pt;
	font-family: "Roboto-Regular";
}

#header img {
	cursor: pointer;
}

#header .verticalAlignment {
	min-height: 54px;
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
}

#modules {
	border-top: 3px solid #2991d2;
	width: 350px;
	height: 393px;
	overflow-y: auto;
}

#modules > div {
	min-height: 62px;
	border-bottom: 1px solid #e2e2e2;
}

#modules .verticalAlignment {
	min-height: 62px;
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
}